.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6vh;
}

.header-title-container {
  display: flex;
  width: 80%;
  text-align: left;
}

.header-logo {
  margin-left: 3vh;
}

.header-title {

}

.header-title-span{

}

.header-logout-container {
  width: 20%;
  margin-right: 3vh;
  text-align: end;
}

.section {
  position: relative;
  top: 6vh;
  left: 0;
  width: 100%;
  height: 84vh;
}

.navigation {
  position: absolute;
  display: flex;
  left: 0px;
  bottom: 6vh;
  width: 100%;
  height: 4vh;
}

.navigation-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navigation-li {
  display: inline;
  float: left;
}

.navigation-link {
  padding: 20px;
}

.footer {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6vh;
}

.footer-title-container {
  display: flex;
  width: 100%;
  text-align: left;
  margin-left: 3vh;
}

.footer-logo {

}

.footer-title-span{

}