span {
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li {
  display: inline;
  float: left;
}

img {
  width: 50px;
  height: 50px;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.wvw50 {
  width: 50vw;
}

.hvh9 {
  height: 9vh;
}

.m-auto {
  margin: auto;
}

.border-1 {
  border: 0.1vh solid black;
}

.border-top-1 {
  border-top: 0.1vh solid black;
}

.border-bottom-1 {
  border-bottom: 0.1vh solid black;
}

.border-left-1 {
  border-left: 0.1vh solid black;
}

.border-right-1 {
  border-right: 0.1vh solid black;
}

.border-top-0 {
  border-top: 0;
}

.border-bottom-0 {
  border-bottom: 0;
}

.border-left-0 {
  border-left: 0;
}

.border-right-0 {
  border-right: 0;
}

.lh-9vh {
  line-height: 9vh;
}

.text-center {
  text-align: center;
}

.block-center {
  display: block;
  margin: auto;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.row { 
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.col {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin: 0;
}

.col-row {
  position: relative;
  display: flex;
  flex-direction: row;
}

.jc-bt {
  justify-content: space-between;
}

.title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: large;
}

.partition {
  display: inline-block;
  width: 2px;
  height: 2.4vh;
  margin-top: -0.9vh;
  background-color: gray;
}